<mat-stepper>
    <mat-step  [stepControl]="eventInitiation1" label="Pre Event Check">
        <p class="text-danger h5">Previous Events that are within 30 days from today</p>
        <div class="container table-responsive">
          <table class="table text-center table-bordered table-striped" >
            <thead>
              <tr>
                <th><b><small>S.no</small></b></th>
                <th><b><small>Event ID</small></b></th>
                <th><b><small>Event Type</small></b></th>
                <th><b><small>Venue</small></b></th>
                <th><b><small>Event Date</small></b></th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let event of eventsWithin30Days ; index as i" >
                <th scope="row">{{i+1}}</th>
                <td>{{event['EventId/EventRequestId']}}</td>
                <td>{{event.EventType}}</td>
                <td>{{event.VenueName}}</td>
                <td>{{event.EventDate}}</td>
              </tr>
              
            </tbody>
    
          </table>
        </div>
    
        <form  [formGroup]="eventInitiation1">
        
            <div class="row">
              <div class="col" *ngIf="show30DaysUploaDeviation" >
                <div class="p-2 m-1" >
                  <mat-label>Upload Deviation</mat-label><br>
                  <input type="file" (change)="onFileSelected($event)" formControlName="withIn30DaysDeviation">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col"  >
                <div class="p-2 m-1" >
                   <mat-form-field color="accent" appearance="outline">
                  <mat-label>Event Date</mat-label>
                    <input matInput type="date" min="{{ today | date: 'yyyy-MM-dd'}}" formControlName="eventDate">
                  </mat-form-field>
                </div>
                
              </div>
              <div class="col">
                <div class="p-2 m-1" *ngIf="show7DaysUploadDeviation" >
                  <mat-label>Upload Deviation</mat-label><br>
                  <input type="file" (change)="onFileSelected($event)" formControlName="next7DaysDeviation">
                </div>
              </div>
            </div>
    
          <div class="d-flex justify-content-end align-items-center">
            <!-- <button mat-raised-button color="warn" matStepperNext  (click)="stepper.reset()" class="m-1">Reset</button> -->
            <button mat-raised-button color="primary" [disabled]="!isStep1Valid" matStepperNext class="m-1">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="eventInitiation2" label="Event-Details">
        <form [formGroup]="eventInitiation2">
          <div class="row">
            <div class="col">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Event Type</mat-label>
                <mat-select disabled [value]="eventType" >
                  <mat-option *ngFor="let event of eventDetails"
                    value={{event.EventTypeId}}>{{event.EventType}}</mat-option>
                </mat-select>
              </mat-form-field>
    
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Event Topic</mat-label>
                <input matInput placeholder="Placeholder" formControlName="eventTopic">
              </mat-form-field>
    
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Event Date</mat-label>
                <input matInput  disabled [value]="eventDate">
              </mat-form-field>
    
              <div class="row">
                <mat-form-field class="col-lg-6 col-md-6 col-sm-6" color="accent" appearance="outline">
                  <mat-label>Start Time</mat-label>
                  <input matInput type="time" formControlName="startTime">
                </mat-form-field>
    
                <mat-form-field class="col-lg-6 col-md-6 col-sm-6" color="accent" appearance="outline">
                  <mat-label>End Time</mat-label>
                  <input matInput type="time" formControlName="endTime">
                  <mat-error>End Time Should be greater than start time</mat-error>
                </mat-form-field>
              </div>
            </div>
    
            <div class="col">
                <mat-form-field color="accent" appearance="outline" >
                  <mat-label>Meeting Type</mat-label>
                  <mat-select formControlName="meetingType">
                    <mat-option value="Physical">Physical</mat-option>
                    <mat-option value="Vendor">Vendor</mat-option>
                  </mat-select>
                </mat-form-field>

                <div *ngIf="showVendornameandupload">
                <mat-form-field color="accent" appearance="outline">
                <mat-label>Enter Vendor Name</mat-label>
                <div>
                    <input matInput type="text">
                </div>
              </mat-form-field>

              
                <mat-label>Upload Vendor Agreement</mat-label>
                <div>
                    <input  type="file">
                </div>
            </div>

              <div class="d-flex justify-content-end">
                <button mat-raised-button color="accent" class="m-1" matStepperPrevious>Previous</button>
                <button mat-raised-button color="primary" class="m-1" [disabled]="!isStep2Valid" matStepperNext>Next</button>
              </div>
    
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step label="Brand Allocation">
        <form [formGroup]="eventInitiation3">
          <div class="row">
    
            <div class="col">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Brand Name</mat-label>
                <mat-select formControlName="brandName">
                  <mat-option >brandds</mat-option>
                </mat-select>
              </mat-form-field>
    
              <mat-form-field color="accent" appearance="outline">
                <mat-label>% Allocation</mat-label>
                <input matInput placeholder="% of Allocation auto populated" >
              </mat-form-field>
            </div>
    
            <div class="col">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Project-ID</mat-label>
                <input matInput placeholder="Project Id auto populated" >
              </mat-form-field>
    
              <mat-form-field color="accent" appearance="outline">
                <mat-label>EventCode</mat-label>
                <input matInput placeholder="EventCode auto populated" >
              </mat-form-field>
    
            </div>
    
            <div class="col-12 d-flex justify-content-center">
              <button type="button" class="btn btn-primary btn-sm">AddNew</button>
            </div>
    
            <div class="container table-responsive">
              <table class="table text-center table-bordered">
                <thead>
                  <tr>
                    <th><b><small>S.no</small></b></th>
                    <th><b><small>Brand Name</small></b></th>
                    <th><b><small>Allocation</small></b></th>
                    <th><b><small>Project ID</small></b></th>
                    <th><b><small>Actions</small></b></th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="l index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>brandName</td>
                    <td>PercentAllocation</td>
                    <td>ProjectId</td>
                    <td style="cursor: pointer;">
                      <i (click)="openBrandUpdateModal(brand)" class="material-icons" style="margin-right: 5px;">edit</i>
                      <i (click)="deleteBrand(brand,i)" class="material-icons">delete</i>
                    </td>
    
                  </tr>
                </tbody>
    
              </table>
            </div>
    
    
            <div class="container d-flex justify-content-end">
              <button mat-raised-button color="accent" class="m-1" matStepperPrevious>Previous</button>
              <button  mat-raised-button color="primary" class="m-1"  matStepperNext>Next</button>
            </div>
    
          </div>
        </form>
      </mat-step>

      

</mat-stepper>